@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*
.background {
    background: url("flower.jpg")
      rgba(0, 0, 0, 0.61);
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: white;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    filter: blur(5px);
    min-height: 800px;
  
  }
  .form-floating > .fa-calendar + .datepicker_input + label {
    padding-left: 3.5rem;
    z-index: 3;
  }

  .res-box{
    width: 700px;
    margin-top: 100px;
  }